body {
  margin-top: 30px;
  font-family: "Advent Pro";
  background: #faf6ee;
}
.main {
  text-align: center;
}
.links {
  text-align: center;
  font-size: 40px;
}
i {
  color: black;
}
h1 {
  font-size: 45px;
}
hr {
  display: block;
  margin: auto;
  width: 1000px;
}
.btn {
  font-size: 25px;
  border-radius: 20px;
}
